button {
	background: linear-gradient(135deg, #6e8efb, #a777e3);
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	border-radius: 4px;
	display: inline-block;
	margin: 10px auto;
	width: 100px;
	height: 30px;
}
